* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	font-size: 62.5%;
}
html,
body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}
body {
	/* max-width: 1140px; */

	font-size: 1.6rem;
	font-family: "Roboto Serif", sans-serif;

	margin: 0 auto;

	color: #0c0a09;
	background-color: #ffffff;
}
#navElement {
	border-bottom: 1px solid #cfcfd8;
}
.texth2 {
	text-align: center;
	font-size: 2.6rem;
	font-weight: 500;
	line-height: 3.4rem;

	color: #0c0a09;

	margin-bottom: 3.8rem;
}
.containers {
	padding: 4.8rem 2.4rem;
}
/* ----------------- navigation bar ------------------- */
#nav-container {
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.2rem 2.4rem;

	height: 7.2rem;
}
nav .logo,
footer .logo {
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.9rem;
}
nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	font-size: 1.2rem;
}
nav a {
	text-decoration: none;
	color: #0c0a09;
}
nav a.menu-button {
	padding: 0;
}
nav a.menu-button svg {
	vertical-align: middle;
}
#nav-container .desktop {
	display: none;
}
#nav-container .desktop .btn {
	display: flex;
	width: auto;
	font-weight: 400;
	line-height: 2.6rem;
}
#nav-container > div:first-child {
	margin-right: auto;
}
.desktop .opt {
	padding: 6.5px 13px;
	font-size: 1.6rem;
	line-height: 2.6rem;
}
/* --------------- sidebar -------------- */
.sidebar-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 999;
	max-width: 44rem;
	top: 7.2rem;

	color: #44403c !important;
	background-color: #fff;
	box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.12) inset;
}
/* .sidebar {
	width: 100%;
} */
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2.4rem;
	row-gap: 1.2rem;
	width: 100%;

	list-style: none;
	border: 1px solid #cfcfd8;
	font-size: 1.6rem;
	line-height: 2.6rem;
}
.sidebar .btn {
	text-align: center;
	width: 100%;
	line-height: 2.4rem;
	padding: 6.5px 16px;

	font-size: 16px;
	font-family: "Roboto Serif", sans-serif;
	font-weight: 500;

	border: none;
	border-radius: 4px;

	color: #0c0a09;
	background-color: #6ee7b7;

	cursor: pointer;
}
/* ------------------- HOME ---------------------- */
.home-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;

	row-gap: 24px;

	margin: 0 -9.75px;
}
.home-wrapper h1 {
	font-size: 32.5px;
	font-weight: 500;
	line-height: 39px;

	margin-bottom: 19.5px;
}
.home-wrapper p {
	font-size: 16.25px;
	font-weight: 300;
	line-height: 2.6rem;
	text-align: left;

	margin-bottom: 22.75px;

	color: rgb(68, 64, 60);
}
.home-wrapper .btn,
#contact-container .btn,
.desktop .btn {
	height: 39.98px;
	line-height: 2.4rem;

	padding: 6.5px 16px;

	font-size: 16px;
	font-family: "Roboto Serif", sans-serif;
	font-weight: 500;

	border: none;
	border-radius: 4px;

	color: #0c0a09;
	background-color: #6ee7b7;

	cursor: pointer;
}
.home-wrapper img,
.services-wrapper img {
	aspect-ratio: 1.3333333333333333;
	object-fit: cover;
	overflow: hidden;
	width: 100%;

	border-radius: 4px;
}
.home-wrapper .entry {
	padding: 0 9.75px;
}
.home-wrapper .imgElement {
	padding: 0 9.75px;
}
/* ----------------------- SERVICES --------------------------- */
#services-container {
	background-color: #f5f5f4;
}
.services-wrapper h3 {
	font-size: 1.95rem;
	font-weight: 500;
	line-height: 2.9rem;
}
.services-wrapper .text {
	text-align: left;
}
.services-wrapper p {
	margin-bottom: 1.3rem;
	padding-right: 1.95rem;

	line-height: 2.6rem;
}
.adjust-services {
	margin: 0 -9.75px;
}
.adjust-services .imgElement {
	display: flex;
	flex-direction: column;

	padding: 0 9.75px;
	margin-bottom: 1.95rem;
}
.adjust-services .imgElement > img {
	margin-bottom: 1.2rem;
}
/* ----------------------- GALERY --------------------------- */
.gallery-images {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.gallery-images .img-box{
	aspect-ratio: 1.3333333333333333;
	background-clip: content-box;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4px;
	width: 50%;
}
.gallery h2 {
	margin-bottom: 3.2rem;
	line-height: 3.4rem;
}
/* ----------------------- MESSAGE --------------------------- */
#message-container {
	background-color: #f5f5f4;
}
.message-wrapper .message {
	margin: 2.4rem 0;
	padding: 0 9.75px;
}
.message h2 {
	margin: 0;
	line-height: 3.4rem;
}
.message .space {
	height: 1.2rem;
}
.message .p {
	text-align: center;
	line-height: 2.4rem;
	font-weight: 300;

	color: #44403c;
}
.message-wrapper {
	margin: 0 -9.75px;
}
/* ----------------------- BANNER --------------------------- */
.banner {
	height: 16rem !important;
	max-height: 320px;
	min-height: 80px;
}
.banner > .img {
	background: url("/assets/contact-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* ----------------------- CONTACT --------------------------- */
#contact-container {
	display: flex;
	flex-direction: column;

	color: #44403c;
	background-color: #f5f5f4;
}
#contact-container h2 {
	line-height: 34.125px;

	margin-bottom: 1.6rem;
}
#input-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;

	line-height: 2.2rem;
	margin-top: 3.9rem;
	padding: 0 9.75px;
}
.form-adjust {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: -3.9rem -9.75px 0;
	padding-bottom: 3.9rem;
}
.h2-container {
	margin-bottom: 2.4rem;
}
.form-input,
.form-textearea {
	display: flex;
	flex-direction: column;

	margin-bottom: 1.3rem;
}
.form-input .form-label,
.form-textearea .form-label {
	margin-bottom: 6.5px;

	line-height: 2.6rem;
}
.form-textearea {
	margin-bottom: 19.5px;
}
input[type="text"],
textarea.form-control {
	width: 100%;
	border-color: #cfcfd8;
	border-radius: 4px;
	border-width: 1px;
	line-height: 1.8rem;
	padding: 1.2rem;
	resize: none;
}
textarea.form-control {
	min-height: 10rem;
}
#input-container .btn {
	margin: 0 auto;
}
/* ----------------------- FOOTER --------------------------- */
.footer-logo {
	margin-bottom: 3.9rem;
}
.footer-logo > h3 {
	font-size: 1.95rem;
	font-weight: 500;
	line-height: 29.25px;
}
.footer-logo,
.footer-company {
	display: flex;
	flex: 1 0 0%;

	padding: 0 9.75px;
	margin-left: 0;
}
.footer-company {
	line-height: 26.84px;
}
/* ----------------------- SIDEBAR --------------------------- */
.sidebar {
	display: none;
}
/* ----------------------- BACKTOTOPBUTTON --------------------------- */
#backToTopButton {
	position: fixed;
	bottom: 1rem;
	right: 3rem;

	opacity: 0;
	visibility: hidden;

	transition: opacity.2s ease-in-out;
	transition: 300ms ease-in;
}
#backToTopButton.show {
	opacity: 1;
	visibility: visible;
}
/*------------------- DESKTOP PART --------------------*/

/* --------- medias ---------- */
@media (min-width: 576px) {
	#global-container {
		max-width: 54rem;
		margin: 0 auto;
	}
	#home-container {
		padding: 4.8rem 2.4rem;
	}
}
@media (min-width: 768px) {
	#global-container {
		max-width: 72rem;
		margin: 0 auto;
	}
	#nav-container {
		padding: 1.2rem 7.2rem;
	}
	#home-container,
	#services-container,
	#gallery-container,
	#message-container,
	#contact-container,
	#footer-container {
		padding: 6.4rem 7.2rem;
	}
	.services-wrapper .imgElement {
		padding: 0 9.75px;
		margin-bottom: 1.95rem !important;
	}
	.banner {
		height: 32rem !important;
		max-height: 640px;
		min-height: 160px;
	}
}
@media (min-width: 992px) {
	#global-container {
		max-width: 96rem;
	}
	.home-wrapper {
		min-height: 42rem;
		width: 100%;

		display: flex;
		flex-direction: row;
		row-gap: 2.4rem;
		justify-content: center;
		align-items: center;

		margin: 0 -9.75px;
	}
	.home-wrapper .imgElement {
		flex: 0 0 auto;
		width: 50%;
	}
	.adjust-services {
		display: flex;
		flex-wrap: wrap;

		overflow-wrap: anywhere;
	}
	.adjust-services .imgElement {
		display: flex !important;
		flex-direction: column !important;
		flex: 0 0 auto;
		width: 33.3333333333%;
	}
	.gallery-images {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		border-radius: 4px !important;
	}
	.gallery-images .img-box {
		aspect-ratio: 1.3333333333333333;
		background-clip: content-box;
		background-repeat: no-repeat;
		background-size: cover;
		width: 33.33%;
		padding: 4px;
	}
	#contact-container .adjust {
		margin: -3.9rem -1.95rem 0;
		display: flex;
		justify-content: center;
		padding: 0;
	}
	#input-container {
		flex: 0 0 auto;
		width: 50%;
	}
	#nav-container {
		display: flex;
		flex-wrap: wrap;
	}
	#nav-container .desktop {
		display: flex;
		gap: 1rem;
	}
	.menu-btn {
		display: none;
	}
}
@media (min-width: 1200px) {
	#global-container {
		max-width: 114rem;
	}
}
@media (min-width: 1400px) {
	#global-container {
		max-width: 1320px;
	}
}
